@model MyOrange.Models.Customer
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="text-primary">Overview</h6>
    </div>

    <div class="col-md-8">
        <div class="card-body">
            <h3 class="card-title">@Model.FirstName @Model.LastName</h3>
            <p class="card-text">@Model.Email</p>
        </div>
    </div>
</div>