@page "{id:min(1)}/{handler?}"
@model MyOrange.Web.Pages.Customers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-page-handler="SavePreferences">
    <div class="form-check">
        <input id="notify" type="checkbox" asp-for="Notify" class="form-check-input" />
        <label for="notify" class="form-check-label">Send email</label>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Save Preferences</button>
</form>

<div class="alert alert-primary">
    @Model.Message
</div>

<form method="post" asp-page-handler="SavePreferencesTemp">
    <div class="form-check">
        <input id="notifytemp" type="checkbox" asp-for="Notify" class="form-check-input" />
        <label for="notifytemp" class="form-check-label">Send email</label>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Save Preferences Temp</button>
</form>


<div>
    <form method="post" enctype="multipart/form-data" asp-page-handler="OnPost">

        <input type="hidden" asp-for="Customer.Id" />
        <input type="hidden" asp-for="Customer.Photo" />

        <div class="form-row">
            <div class="form-group">
                <label asp-for="Customer.FirstName">First name</label>
                <input type="text" asp-for="Customer.FirstName" placeholder="First name" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="Customer.LastName">Last name</label>
                <input type="text" asp-for="Customer.LastName" placeholder="Last name" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="Customer.Email">E-mail</label>
                <input type="email" asp-for="Customer.Email" placeholder="Email address" />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="Email">Remote E-mail</label>
                <input type="email" asp-for="Email" placeholder="Email address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="Customer.Country">Country</label>
                <select class="form-control" asp-for="Customer.Country" asp-items="Model.Countries">
                    <option value="">Choose one</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label asp-for="Photo"></label>
                <input type="file" asp-for="Photo" class="form-control-file" />
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-block">Save</button>
        <a class="btn btn-primary btn-block" asp-page="Index">Cancel</a>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }

    </form>

    <img src="@Model.Customer.Photo" />


</div>

