@page
@model MyOrange.Web.Pages.Forms.PageModelFormModel
@{
    <div>
        <form method="post">
            <div>Name: <input name="name" /></div>
            <div><input type="submit" /></div>
        </form>

        @if (!string.IsNullOrEmpty(Model.Name))
        {
            <p>Hello @Model.Name</p>
        }
    </div>

}