@page
@{
    var name = string.Empty;

    if (Request.HasFormContentType)
    {
        name = Request.Form["name"];
    }
}

<div style="margin-top:30px;">
    <form method="post">
        <div>Name: <input name="name" /></div>
        <div><input type="submit" /></div>
    </form>

    @if (!string.IsNullOrEmpty(name))
    {
        <p>Hello @name!</p>
    }
</div>