@page
@{
    ViewData["Title"] = "NotFound";
}



<div class="text-center">
    <div class="error mx-auto">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>

    <a asp-page="/Customers/Index">Back to Customers</a>
</div>

